beautifulsoup4==4.10.0  # For web scraping
requests==2.26.0        # For making HTTP requests
pymysql==1.0.2           # For connecting to a MySQL database
selenium==4.0.0          # For web automation
mysql-connector-python==8.2.0
bcrypt==4.1.2

# Add more dependencies as needed
